body{
    --background: rgb(253,200,47);
    --background: linear-gradient(180deg, rgba(253,200,47,0.4962359943977591) 0%, rgba(255,255,255,0) 100%);

    background-image: url("./image/body.png");
    background-repeat: no-repeat;
    background-position: top;
}

.footerBackground{
    background-image: url("./image/footer.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.cardR{
    background: linear-gradient(180deg, rgba(255,255,255,0) 75%, rgba(255,0,0,0.2) 100%);
    border-radius: 1rem;


}
.cardG{
    background: linear-gradient(180deg, rgba(255,255,255,0) 75%, rgba(0, 100, 50, 0.2) 100%);
    border-radius: 1rem;

}
.cardB{
    background: linear-gradient(180deg, rgba(255,255,255,0) 75%, rgba(29, 119, 255, 0.2) 100%);
    border-radius: 1rem;
}

.award{
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.customCard{
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 2% 1%;
    text-decoration: none;
    color: black;
    background-color: white;
}

.nav-link:hover{
    color: #05B469;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

@media (max-width: 576px) {
    .award{
        width: 90%;
    }

    .customCard{
        width: 90%;
    }
    
    .cardB{
        width: 90%;
    }

    .cardG{
        width: 90%;
    }
    .cardR{
        width: 90%;
    }

    
}

@media (max-width: 388px) {
    .widthSM{
        width: 150px;
    }

    
}


.customerBackgroundmd{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5052AB;
}

.customerBackground{
    position: absolute;
    top: 0;
    width: 80%;   
}

#customerImage{
    z-index: 1;
}

#customerReview{
    width: 50%;
    z-index: 1;
}

.customerName{
    z-index: 1;
}

.customerTitle{
    z-index: 1;
}

.checkList {
    list-style: none;
}
  
.checkList li:before {
    content: '\2714\0020 ';
    
}

.imageContainer{
    width: 8rem;
    aspect-ratio: 1/1;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

@-moz-document url-prefix(){
    .mozFix{
        display: none;
    }

}

#sponsor{
    background-color: white;
    border-radius: 5rem;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.modal-content{
    border-radius: 1rem;
}